.aside-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 430px;
    background: var(--clr-surface);
    z-index: 999;
    box-shadow: 0 0 10px 1px rgba(0 0 0 / .1);
    padding: 1rem;

    transition: .6s all ease;
}

.group-aside-info {
    padding: 0 1rem 80px 1rem;
    position: relative;
}

.asides-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asides-header>div {
    display: flex;
    align-items: center;
    gap: 3px;
}


.asides-header span,
.asides-header p {
    display: flex;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.asides-header span:hover,
.asides-header p:hover {
    color: var(--clr-text-darker);
    background: hsl(0, 3%, 93.5%);
}

.aside-group-name,
.aside-task-name {
    border: none;
    font-size: 2rem;
    width: 100%;
}

.chevrons-tasks {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    padding-left: .5rem;
}

.hidden-hover-options {
    margin: .5rem 0 .5rem 1rem;
    display: flex;
    gap: 2px;
}

.hidden-hover-options:hover>span {
    color: var(--clr-text);
}

.hidden-hover-options>span {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: transparent;
    transition: .3s all ease;
}

.hidden-hover-options>span:hover {
    background: hsl(0, 3%, 93.5%);
}

.add-icon {
    position: relative;
}

.picker-container {
    position: absolute;
    top: 3rem;
    z-index: 999;
}

.aside-group-name-container,
.aside-task-name-container {
    display: flex;
    color: var(--clr-text-darker);
    align-items: center;
    position: relative;
}

.aside-group-name-container>.emoji,
.aside-task-name-container>.emoji {
    font-size: 2rem;
    border-radius: 4px;
    padding: 10px 2px;
    cursor: pointer;
    transition: .2s all ease;
}

.aside-group-name-container>.emoji:hover,
.aside-task-name-container>.emoji:hover {
    background: hsl(0, 3%, 93.5%);
}

.empty-emoji {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 4px;
}

.empty-emoji:hover {
    background: hsl(0, 3%, 93.5%);
}

.task-aside-info {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.task-aside-info__left,
.task-aside-info__right {
    display: grid;
    gap: 1rem;
    align-items: center;
}

.task-aside-info__left>p,
.task-aside-info__right>p {
    display: flex;
    gap: 0.2rem;
}