.modal {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 430px;
    background: var(--clr-surface);
    z-index: 999;
    box-shadow: 0 0 10px 1px rgba(0 0 0 / .1);
    padding: 1rem;
}

.modal-info-container {
    padding: 0 1rem 80px 1rem;
}

.group-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-modal-header>div {
    display: flex;
    align-items: center;
    gap: 3px;
}


.group-modal-header span,
.group-modal-header p {
    display: flex;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.group-modal-header span:hover,
.group-modal-header p:hover {
    color: var(--clr-text-darker);
    background: hsl(0, 3%, 93.5%);
}

.modal-group-name {
    border: none;
    font-size: 2rem;
    width: 100%;
}

.chevrons-task-modal {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.11);
    padding-left: .5rem;
}

.hidden-emoji-options {
    margin: .5rem 0 .5rem 1rem;
    display: flex;
    gap: 2px;
}

.hidden-emoji-options:hover>span {
    color: var(--clr-text);
}

.hidden-emoji-options>span {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: transparent;
    transition: .3s all ease;
}

.hidden-emoji-options>span:hover {
    background: hsl(0, 3%, 93.5%);
}

.add-icon {
    position: relative;
}

.picker-container {
    position: absolute;
    top: 10rem;
    z-index: 999;
}

.group-name-container {
    display: flex;
    color: var(--clr-text-darker);
    align-items: center;
}

.group-name-container>.emoji {
    font-size: 2rem;
    border-radius: 4px;
    padding: 10px 2px;
    cursor: pointer;
    transition: .2s all ease;
}

.group-name-container>.emoji:hover {
    background: hsl(0, 3%, 93.5%);
}