.no-tasks-yet {
    padding: 0.5rem;
}

.no-tasks-yet:hover {
    cursor: pointer;
    color: var(--clr-text-darker);
}

.task-name-container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.task-name-container>input {
    width: 100%;
    height: 100%;
}

.file-container {
    display: flex;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    color: var(--clr-text-darker);
}

.file-container:hover {
    background: hsl(0, 0%, 95%);
}

.table-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    position: relative;
}

.table-content__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding: .5rem;
    cursor: pointer;
}

.status-span {
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.priority-span {
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.11);
}

.status {
    width: fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0 10px 0 3px;
}

.inprogress-status {
    background: var(--bg-in-progress);
    color: var(--fc-in-progress);
}

.done-status {
    background: var(--bg-done);
    color: var(--fc-done);
}

.todo-status {
    background: var(--bg-to-do);
    color: var(--fc-to-do);
}

.priority {
    width: fit-content;
    border-radius: 5px;
    padding: 0 6px;
}

.high-priority {
    background: var(--bg-high);
    color: var(--fc-high);
}

.medium-priority {
    background: var(--bg-medium);
    color: var(--fc-medium);
}

.low-priority {
    background: var(--bg-low);
    color: var(--fc-low);
}

.status-options,
.priority-options {
    width: 100%;
    left: 0;
    bottom: -7rem;
}

.floating-options {
    list-style-type: none;
    position: absolute;
    width: 100%;
    display: grid;
    gap: .5rem;
    z-index: 999;
    background: var(--clr-surface);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0 0 0 / .3);
    text-wrap: nowrap;
}

.due {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    color: var(--clr-text-darker);
}

.task-aside-icon {
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    right: 10px;
    bottom: 10%;
    z-index: 3;
    border-radius: 4px;
    padding: 3px;
    border: 1px solid rgba(0 0 0 / .2);
    box-shadow: 0 0 5px 2px rgba(0 0 0 / .1);
    transition: .3s all ease;
    background: var(--clr-surface);
}

.task-name-container:hover .task-aside-icon {
    cursor: pointer;
    opacity: 1;
}

.task-aside-icon:hover {
    background: hsl(0, 0%, 95%);
}