.filters-container {
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
}

.filters-container ul {
    list-style-type: none;
    display: flex;
    gap: 0.3rem;
}

.filters-container ul li {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    opacity: 0.7;
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.filters-container ul li span {
    display: flex;
    align-items: center;
}

.filters-container ul li:hover {
    background: hsl(0, 0%, 90%);
}

.add-filter-btn {
    border: none;
    background: none;
    color: var(--clr-text);
    opacity: 0.7;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

.add-filter-btn:hover {
    background: hsl(0, 0%, 90%);
}

.filters-container svg {
    font-size: 1.2rem;
}

.filters-container ul .exclamation svg {
    font-size: 1rem;
}