.groups-container {
    display: grid;
    gap: 3rem;
}

.group-card__header {
    display: flex;
}

.group-card__header>p {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}

.group-card__header>p>svg {
    font-size: 1.2rem;
}


.group-card__header>p:hover {
    opacity: 1;
    background: hsl(0, 0%, 95%);
}


.opacity-7 {
    opacity: 0.7;
}


.group-card__table {
    display: grid;
}


.table-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.table-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.table-content>p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.table-head>p {
    padding: 0.5rem;
}

.table-content>p {
    padding: .5rem;
    cursor: pointer;
}

.table-head>p,
.table-content>p {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.table-footer {
    display: grid;
    grid-template-columns: 4fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.table-footer>p {
    padding: 0.5rem;
    display: flex;
}

.table-head>p>svg,
.table-content>p>svg,
.table-footer>p>svg {
    font-size: 1.2rem;
}

.table-head>p:hover,
.table-footer>p:hover {
    cursor: pointer;
    background: hsl(0, 0%, 90%);
}

.status {
    width: fit-content;
    height: fit-content;
    background: var(--bg-to-do);
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 .5rem;
}

.arrow-normal {
    transition: .3s all ease-in-out;
    transform: rotate(0deg);
}

.arrow-rotate {
    transition: .3s all ease-in-out;
    transform: rotate(-90deg);
}

.groups-disappear {
    display: none;
}

.new-task-input {
    border: none;
    background: none;
    padding: .5rem;
    color: black;
    display: block;
}

.new-task-input:focus {
    outline: none;
}

.status-p {
    position: relative;
}

.priority-p {
    position: relative;
}

.status-options,
.priority-options {
    list-style-type: none;
    position: absolute;
    bottom: -7rem;
    width: 100%;
    display: grid;
    gap: .5rem;
    place-content: center;
    z-index: 999;
    background: var(--clr-surface);
    padding: 1rem;
    box-shadow: 0 0 10px 2px rgba(0 0 0 / .3);
}

.blue-status {
    background: var(--bg-in-progress);
    color: var(--fc-in-progress);
}

.green-status {
    background: var(--bg-done);
    color: var(--fc-done);
}

.gray-status {
    background: var(--bg-to-do);
    color: var(--fc-to-do);
}

.priority {
    border-radius: 5px;
    padding: 0 .5rem;
    width: fit-content;
}

.high-priority {
    background: var(--bg-high);
    color: var(--fc-high);
}

.medium-priority {
    background: var(--bg-medium);
    color: var(--fc-medium);
}

.low-priority {
    background: var(--bg-low);
    color: var(--fc-low);
}