.groups-container {
    display: grid;
    gap: 3rem;
}

.group-card__header {
    display: flex;
}

.group-card__header>p {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.group-card__header>p:hover {
    color: var(--clt-text);
    background: hsl(0, 0%, 95%);
}

.table-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.table-head>p {
    padding: 0.5rem;
    display: flex;
    gap: 0.2rem;
}

.table-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.table-footer>p {
    padding: 0.5rem;
    display: flex;
    gap: 5px;
}

.table-head>p:hover,
.table-footer>p:hover,
.add-group-btn:hover {
    cursor: pointer;
    background: hsl(0, 0%, 90%);
}

.add-group-btn {
    display: flex;
    gap: 5px;
    border: none;
    background: none;
    width: fit-content;
    padding: .3rem .4rem;
    border-radius: 4px;
}

.dot {
    position: relative;
}

.dots-options {
    width: fit-content;
    text-wrap: nowrap;
    color: var(--clt-text);
    bottom: -5rem;
    left: 0;
}

.dot-element {
    display: flex;
    gap: 5px;
    align-items: center;
}

.low-opacity-text {
    color: var(--clr-text-low-opacity);
}