.fixed-pages-aside {
    resize: horizontal;
    
    position: fixed;
    left: 0;

    padding: .5rem;
    display: grid;
    place-content: start;

    gap: .5rem;
    background: var(--clr-surface-darker);

    width: 220px;
    height: 100svh;

    box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.user-container img {
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.pages-aside__section {
    list-style-type: none;
}


.pages-aside__section li {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 4px 10px;
    border-radius: 4px;
}

.pages-aside__section li:hover {
    background: hsl(0, 0%, 91.8%);
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.icon-container:hover {
    background: hsl(0, 0%, 85%);
    cursor: pointer;
}