.page-title {
    color: var(--clr-text-darker);
}

.app-main {
    display: flex;
    gap: 2rem;
    margin-left: 260px;
}

.info-section {
    margin: 3rem;
    width: 100%;
}

.floating-options {
    list-style-type: none;
    position: absolute;
    display: grid;
    gap: .5rem;
    z-index: 999;
    background: var(--clr-surface);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0 0 0 / .3);
}